*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #181818;
  --text-color: #fafafa;
  --accent-color: #0f93d1;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 100svh;
}

h1 {
  font-size: 5rem;
  font-weight: 400;
  margin: 0;
}